body{
    display: flex;
    background-color: hsl(47, 88%, 63%);
    height: 100vh;
    margin:0;
    align-items: center;
    justify-items: center;
    flex-direction: column;
    
}
.mainBlock{
    flex: 1,5;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 515px;
    width: 340px;
    border-radius: 20px;
}
#illustration{
    align-self: center;
    width: 300px;
    height: 200px;
    border-radius: 20px;

}
#learning, #date,#title,#paragraph{
    margin: 10px 20px;

}
.authorBlock{
    display: flex;
    flex-direction: row;
}