:root{
    --Yellow: hsl(47, 88%, 63%);
    --White: hsl(0, 0%, 100%);
    --Grey: hsl(0, 0%, 50%);
    --lack: hsl(0, 0%, 7%);

}
*{
    padding:0;
    margin:0;
    font-family: 'figTree', sans-serif;
}

body {
    display: flex;
    background-color: var(--Yellow);
    min-height: 100vh;
    margin:0;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

main {
    background-color: var(--White);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 525px;
    width: 375px;
    border-radius: 20px;
    border: 1px solid black;
    box-shadow: 5px 5px  var(--lack);
}

main:hover{
    box-shadow: 8px 8px var(--lack);
}


/* Block 1 illustration */
#illustration {
    justify-self: center;
    align-self: center;
    width: 336px;
    height: 201px;
    border-radius: 20px;
}
/* Block 2 text */
.textContainer{
    margin-top: 17px;
}
#learning, #date,#title,#paragraph{
    margin: 10px 20px;
    font-size: 16px;
}
/* Essentially copied this from DzsDzske repository */
#learning{
   background-color: var(--Yellow);
   /* So by increasing the padding, I increased inner background */
   padding: 0.5rem 0.7rem;
   border-radius: 5px;
   font-weight: 800;
}

#date {
    font-weight: 600;
    margin-top: 25px;
    font-size: 14px;
}

#title {
    margin-top: 23px;
    font-size: 1.45rem;
}

#title:hover{
color: var(--Yellow);
cursor: pointer;
}

#paragraph{
    margin-top: 20px;
    color: var(--Grey);
}
/* Block image+name */
.authorBlock{
    margin-left: 15px;
    display: flex;
    flex-direction: row;   
}
#pPic{
    height: 40px;
}
#name{
    align-self: center;
    margin-left: 12px;
}
.attribution{
    margin-top: 20px;
}
@font-face {
    font-family: figTree;
    src: url(/assets/fonts/Figtree-VariableFont_wght.ttf);
}